<html>
<body>
    <h1>ASP.Net Crasher</h1>
    <p>Generate a number of different types of exceptions that crash the worker process. Used for walking through different crash drump scenarios covered on Doug Rathbone's blog <a href="http://www.diaryofaninja.com">Diary of a Ninja</a></p>
    <ul>
        <li><a href="/home/hang">Generate a hanged worker process (threads waiting)</a></li>
        <li><a href="/home/so">Generate a StackOverflow</a></li>
        <li><a href="/home/sleep">Thread.Sleep (sleeps for 5 minutes)</a></li>
        <li><a href="/home/memoryleak">Leak some memory</a></li>
    </ul>
</body>
</html>